<!DOCTYPE html>
<html>
	{% include "partials/head.html" %}
	{% include "partials/navbar.html" %}
	{% include "partials/archdev-navbar.html" %}
	<div class="box">
		<h2>{{ "Comments" | tr }} - <a href="/account/{{username}}">{{ username }}</a></h2>
		<hr>

		<div class="comments">
			<!-- On-the-fly comment editing functions -->
			<script type="text/javascript" src="/static/js/comment-edit.js"></script>
			
			{% for comment in comments %}
			{% include "partials/account/comment.html" %}
			{% endfor %}
		</div>
	</div>
	{% include "partials/footer.html" %}
</html>
