# Docker service definitions for the aurweb project.
#
# Notable services:
#   - `sharness` - Run sharness test suites
#   - `pytest-mysql` - Run pytest suites with MariaDB
#   - `pytest-sqlite` - Run pytest suites with SQLite
#   - `test` - Run sharness, pytest-mysql and pytest-sqlite
#   - `mariadb` - `port 13306` - MariaDB server for docker
#   - `ca` - Certificate Authority generation
#   - `git` - `port 2222` - Git over SSH server
#   - `fastapi` - hypercorn service for aurweb's FastAPI app
#   - `php-fpm` - Execution server for PHP aurweb
#   - `nginx` - `ports 8444 (FastAPI), 8443 (PHP)` - Everything
#     - You can reach `nginx` via FastAPI at `https://localhost:8444/`
#       or via PHP at `https://localhost:8443/`. CGit can be reached
#       via the `/cgit/` request uri on either server.
#
# Copyright (C) 2021 aurweb Development
# All Rights Reserved.
version: "3.8"

services:
  mprweb-image:
    build: .
    image: mprweb:latest

  ca:
    image: mprweb:latest
    init: true
    entrypoint: /docker/ca-entrypoint.sh
    command: /docker/scripts/run-ca.sh
    volumes:
      - ./data:/data
      - step:/root/.step

  memcached:
    image: mprweb:latest
    init: true
    command: /docker/scripts/run-memcached.sh
 
  redis:
    image: mprweb:latest
    init: true
    entrypoint: /docker/redis-entrypoint.sh
    command: /docker/scripts/run-redis.sh
    ports:
      - "127.0.0.1:16379:6379"

  mariadb:
    image: mprweb:latest
    init: true
    entrypoint: /docker/mariadb-entrypoint.sh
    command: /usr/bin/mysqld_safe --datadir=/var/lib/mysql
    ports:
      # This will expose mariadbd on 127.0.0.1:13306 in the host.
      # Ex: `mysql -uaur -paur -h 127.0.0.1 -P 13306 aurweb`
      - "127.0.0.1:13306:3306"
    volumes:
      - mariadb_run:/var/run/mysqld # Bind socket in this volume.
      - ./data/mariadb_data:/var/lib/mysql

  mariadb_init:
    image: mprweb:latest
    init: true
    environment:
      - AUR_CONFIG_IMMUTABLE=${AUR_CONFIG_IMMUTABLE:-0}
    entrypoint: /docker/mariadb-init-entrypoint.sh
    command: echo "MariaDB tables initialized."
    volumes:
      - ./conf/config.defaults:/aurweb/conf/config.defaults
      - ./conf/config.dev:/aurweb/conf/config.dev
      - mariadb_run:/var/run/mysqld
    depends_on:
      - mariadb

  mariadb_test:
    image: mprweb:latest
    init: true
    environment:
      - MARIADB_PRIVILEGED=1
    entrypoint: /docker/mariadb-entrypoint.sh
    command: /usr/bin/mysqld_safe --datadir=/var/lib/mysql
    ports:
      # This will expose mariadbd on 127.0.0.1:13307 in the host.
      # Ex: `mysql -uaur -paur -h 127.0.0.1 -P 13306 aurweb`
      - "127.0.0.1:13307:3306"
    volumes:
      - mariadb_test_run:/var/run/mysqld # Bind socket in this volume.

  git:
    image: mprweb:latest
    init: true
    env_file: ./conf/docker.env
    environment:
      - AUR_CONFIG=/aurweb/conf/config.dev
      - SSH_CMDLINE=${SSH_CMDLINE:-ssh ssh://aur@localhost:2222}
      - AUR_CONFIG_IMMUTABLE=${AUR_CONFIG_IMMUTABLE:-0}
    entrypoint: /docker/git-entrypoint.sh
    command: /docker/scripts/run-sshd.sh
    ports:
      - "2222:2222"
    depends_on:
      - mariadb_init
    volumes:
      - ./conf/config.defaults:/aurweb/conf/config.defaults
      - ./conf/config.dev:/aurweb/conf/config.dev
      - ./data/git_data:/aurweb/aur.git
      - ./data:/data
      - mariadb_run:/var/run/mysqld

  smartgit:
    image: mprweb:latest
    init: true
    environment:
      - AUR_CONFIG=/aurweb/conf/config
    entrypoint: /docker/smartgit-entrypoint.sh
    command: /docker/scripts/run-smartgit.sh
    depends_on:
      - mariadb
    volumes:
      - ./data/git_data:/aurweb/aur.git
      - ./data:/data
      - smartgit_run:/var/run/smartgit

  cgit-php:
    image: mprweb:latest
    init: true
    environment:
      - AUR_CONFIG=/aurweb/conf/config
      - CGIT_CLONE_PREFIX=${AURWEB_PHP_PREFIX}
      - CGIT_CSS=/css/cgit.css
    entrypoint: /docker/cgit-entrypoint.sh
    command: /docker/scripts/run-cgit.sh 3000
    ports:
      - "127.0.0.1:13000:3000"
    depends_on:
      - git
    volumes:
      - ./conf/cgitrc.proto:/aurweb/conf/cgitrc.proto
      - ./web/html:/aurweb/web/html
      - ./data/git_data:/aurweb/aur.git

  cgit-fastapi:
    image: mprweb:latest
    init: true
    environment:
      - AUR_CONFIG=/aurweb/conf/config
      - CGIT_CLONE_PREFIX=${AURWEB_FASTAPI_PREFIX}
      - CGIT_CSS=/static/css/cgit.css
    entrypoint: /docker/cgit-entrypoint.sh
    command: /docker/scripts/run-cgit.sh 3000
    depends_on:
      - git
    ports:
      - "127.0.0.1:13001:3000"
    volumes:
      - ./conf/cgitrc.proto:/aurweb/conf/cgitrc.proto
      - ./web/html:/aurweb/web/html
      - ./data/git_data:/aurweb/aur.git

  cron:
    image: mprweb:latest
    init: true
    env_file: ./conf/docker.env
    environment:
      - AUR_CONFIG=/aurweb/conf/config
    entrypoint: /docker/cron-entrypoint.sh
    command: /docker/scripts/run-cron.sh
    depends_on:
      - mariadb_init
    volumes:
      - ./aurweb:/aurweb/aurweb
      - mariadb_run:/var/run/mysqld
      - ./conf/config.defaults:/aurweb/conf/config.defaults
      - ./conf/config.dev:/aurweb/conf/config.dev
      - ./data/archives:/var/lib/aurweb/archives

  php-fpm:
    image: mprweb:latest
    init: true
    env_file: ./conf/docker.env
    environment:
      - AUR_CONFIG=/aurweb/conf/config
      - AURWEB_PHP_PREFIX=${AURWEB_PHP_PREFIX}
      - AURWEB_SSHD_PREFIX=${AURWEB_SSHD_PREFIX}
      - AUR_CONFIG_IMMUTABLE=${AUR_CONFIG_IMMUTABLE:-0}
    entrypoint: /docker/php-entrypoint.sh
    command: /docker/scripts/run-php.sh
    depends_on:
      - ca
      - git
      - memcached
      - cron
    volumes:
      - mariadb_run:/var/run/mysqld
      - ./data/archives:/var/lib/aurweb/archives
      - ./data:/data
      - ./conf/config.defaults:/aurweb/conf/config.defaults
      - ./conf/config.dev:/aurweb/conf/config.dev
      - ./aurweb:/aurweb/aurweb
      - ./migrations:/aurweb/migrations
      - ./test:/aurweb/test
      - ./web/html:/aurweb/web/html
      - ./web/template:/aurweb/web/template
      - ./web/lib:/aurweb/web/lib
      - ./templates:/aurweb/templates
    ports:
      - "127.0.0.1:19000:9000"

  fastapi:
    image: mprweb:latest
    init: true
    env_file: ./conf/docker.env
    environment:
      - AUR_CONFIG=conf/config
      - FASTAPI_BACKEND=${FASTAPI_BACKEND}
      - FASTAPI_WORKERS=${FASTAPI_WORKERS}
      - AURWEB_FASTAPI_PREFIX=${AURWEB_FASTAPI_PREFIX}
      - AURWEB_SSHD_PREFIX=${AURWEB_SSHD_PREFIX}
      - PROMETHEUS_MULTIPROC_DIR=/tmp_prometheus
      - AUR_CONFIG_IMMUTABLE=${AUR_CONFIG_IMMUTABLE:-0}
    entrypoint: /docker/fastapi-entrypoint.sh
    command: /docker/scripts/run-fastapi.sh "${FASTAPI_BACKEND}"
    depends_on:
    - ca
    - git
    - redis
    - cron
    volumes:
      - mariadb_run:/var/run/mysqld
      - ./data:/data
      - ./docker:/docker
      - ./conf/config.defaults:/aurweb/conf/config.defaults
      - ./conf/config.dev:/aurweb/conf/config.dev
      - ./aurweb:/aurweb/aurweb
      - ./migrations:/aurweb/migrations
      - ./test:/aurweb/test
      - ./web/html:/aurweb/web/html
      - ./web/template:/aurweb/web/template
      - ./web/lib:/aurweb/web/lib
      - ./templates:/aurweb/templates
    ports:
      - "127.0.0.1:18000:8000"

  nginx:
    image: mprweb:latest
    init: true
    env_file: ./conf/docker.env
    environment:
      - AUR_CONFIG=conf/config
    entrypoint: /docker/nginx-entrypoint.sh
    command: /docker/scripts/run-nginx.sh
    ports:
      - "127.0.0.1:8443:8443" # PHP
      - "127.0.0.1:8444:8444" # FastAPI
    depends_on:
      - cgit-php
      - cgit-fastapi
      - smartgit
      - fastapi
      - php-fpm
    volumes:
      - ./conf/config.defaults:/aurweb/conf/config.defaults
      - ./conf/config.dev:/aurweb/conf/config.dev
      - ./data/archives:/var/lib/aurweb/archives
      - ./data/git_data:/aurweb/aur.git
      - ./data:/data
      - ./logs:/var/log/nginx
      - ./web/html:/aurweb/web/html
      - ./web/template:/aurweb/web/template
      - ./web/lib:/aurweb/web/lib
      - smartgit_run:/var/run/smartgit

  sharness:
    image: mprweb:latest
    profiles: ["dev"]
    init: true
    env_file: ./conf/docker.env
    environment:
      - AUR_CONFIG=conf/config.sqlite
    entrypoint: /docker/test-sqlite-entrypoint.sh
    command: /docker/scripts/run-sharness.sh
    depends_on:
      - git
    stdin_open: true
    tty: true
    volumes:
      - ./conf/config.defaults:/aurweb/conf/config.defaults
      - ./conf/config.dev:/aurweb/conf/config.dev
      - ./data/git_data:/aurweb/aur.git
      - ./data:/data
      - ./aurweb:/aurweb/aurweb
      - ./migrations:/aurweb/migrations
      - ./test:/aurweb/test
      - ./web/html:/aurweb/web/html
      - ./web/template:/aurweb/web/template
      - ./web/lib:/aurweb/web/lib
      - ./templates:/aurweb/templates

  pytest-mysql:
    image: mprweb:latest
    profiles: ["dev"]
    init: true
    env_file: ./conf/docker.env
    environment:
      - AUR_CONFIG=conf/config
      - TEST_RECURSION_LIMIT=${TEST_RECURSION_LIMIT}
      - PROMETHEUS_MULTIPROC_DIR=/tmp_prometheus
    entrypoint: /docker/test-mysql-entrypoint.sh
    command: /docker/scripts/run-pytests.sh clean
    stdin_open: true
    tty: true
    depends_on:
      - mariadb_test
    volumes:
      - ./docker:/docker
      - mariadb_test_run:/var/run/mysqld
      - ./conf/config.defaults:/aurweb/conf/config.defaults
      - ./conf/config.dev:/aurweb/conf/config.dev
      - ./data/git_data:/aurweb/aur.git
      - ./data:/data
      - ./aurweb:/aurweb/aurweb
      - ./migrations:/aurweb/migrations
      - ./test:/aurweb/test
      - ./web/html:/aurweb/web/html
      - ./web/template:/aurweb/web/template
      - ./web/lib:/aurweb/web/lib
      - ./templates:/aurweb/templates

  test:
    image: mprweb:latest
    profiles: ["dev"]
    init: true
    env_file: ./conf/docker.env
    environment:
      - AUR_CONFIG=conf/config
      - TEST_RECURSION_LIMIT=${TEST_RECURSION_LIMIT}
      - PROMETHEUS_MULTIPROC_DIR=/tmp_prometheus
    entrypoint: /docker/test-mysql-entrypoint.sh
    command: /docker/scripts/run-tests.sh
    stdin_open: true
    tty: true
    depends_on:
      - mariadb_test
    volumes:
      - ./docker:/docker
      - mariadb_test_run:/var/run/mysqld
      - ./conf/config.defaults:/aurweb/conf/config.defaults
      - ./conf/config.dev:/aurweb/conf/config.dev
      - ./data/git_data:/aurweb/aur.git
      - ./data:/data
      - ./aurweb:/aurweb/aurweb
      - ./migrations:/aurweb/migrations
      - ./test:/aurweb/test
      - ./web/html:/aurweb/web/html
      - ./web/template:/aurweb/web/template
      - ./web/lib:/aurweb/web/lib
      - ./templates:/aurweb/templates

volumes:
  mariadb_test_run: {}
  mariadb_run: {} # Share /var/run/mysqld/mysqld.sock
  smartgit_run: {}
  archives: {}
  step: {}
