<div class="archdev-navbar">
	<!-- Javascript for package autocompletion in searches --!>
	<script type="text/javascript" src="/static/js/typeahead-home.js"></script>

	<div class="navbar-links">
		{% if request.user.is_authenticated() %}
		{# Only authenticated users get Dashboard #}
		<a href="/"><p>{% trans %}Dashboard{% endtrans %}</p></a>
		{% endif %}

		{# All users see Packages #}
		<a href="/packages"><p>{% trans %}Packages{% endtrans %}</p></a>

		{% if request.user.is_authenticated() %}

		{# All users can see Requests #}
		<a href="/requests"><p>{% trans %}Requests{% endtrans %}</p></a>

		{# Only CRED_ACCOUNT_SEARCH privileged users see Accounts #}
		{% if request.user.has_credential(creds.ACCOUNT_SEARCH) %}
		<a href="/accounts"><p>{% trans %}Accounts{% endtrans %}</p></a>
		{% endif %}

		{# All users see My Account #}
		<a href="/account/{{ request.user.Username }}/edit"><p>{% trans %}My Account{% endtrans %}</p></a>

		{# Only CRED_TU_LIST_VOTES privileged users see Trusted User #}
		{% if request.user.has_credential(creds.TU_LIST_VOTES) %}
		<a href="/tu"><p>{% trans %}Trusted User{% endtrans %}</p></a>
		{% endif %}

		{# All logged in users see Logout #}
		<form action="/logout" method="post" class="link">
			<input type="hidden" name="next" value="{{ next }}" />
			<button type="submit">
				{% trans %}Logout{% endtrans %}
			</button>
		</form>
		{% else %}
		{# All guest users see Register #}
		<a href="/register"><p>{% trans %}Register{% endtrans %}</p></a>

		{# All guest users see Login #}
		<a href="/login?next={{ next }}"><p>{% trans %}Login{% endtrans %}</p></a>
		{% endif %}

	</div>
	{# Package search form #}
	<form action="/packages" method="GET">
		<input type="hidden" name="O" value="0">
		<input class="search-box" name="K" type="input" placeholder="Search" autocomplete="off">
	</form>
</div>
