{% set pkgbasename = comment.PackageBase.Name %}

{% if not comment.Deleter %}
    {% if request.user.has_credential(creds.COMMENT_DELETE, approved=[comment.User]) %}
        <form class="delete-comment-form"
              method="post"
              action="/pkgbase/{{ pkgbasename }}/comments/{{ comment.ID }}/delete"
        >
            <fieldset style="display:inline;">
                <input type="hidden"
                       name="next"
                       value="{{ request.url.path }}" />
		<button class="svg-icon-button" type="submit">
			{% include "svg/delete.svg" %}
		</button>
            </fieldset>
        </form>
    {% endif %}

    {% if request.user.has_credential(creds.COMMENT_EDIT, approved=[comment.User]) %}
    <a>{% include "svg/pencil.svg" %}</a>

        {# Set the edit event listener for this link. We must do this here
        so that we can utilize Jinja2's values. #}
        <!--script type="text/javascript" nonce="{{ request.user.nonce }}">
            document.addEventListener("DOMContentLoaded", function() {
                let link = document.getElementById("comment-edit-link-{{ comment.ID }}");
                let fn = function(event) {
                    return handleEditCommentClick(event, "{{ comment.PackageBase.Name }}");
                };
                link.addEventListener("click", fn);
            });
        </script-->

    {% endif %}

    {% if request.user.has_credential(creds.COMMENT_PIN, approved=[comment.PackageBase.Maintainer]) %}
        {% if comment.PinnedTS %}
            <form class="pin-comment-form"
                  method="post"
                  action="/pkgbase/{{ comment.PackageBase.Name }}/comments/{{ comment.ID }}/unpin"
            >
                <fieldset style="display:inline;">
                    <input type="hidden" name="next" value="{{ request.url.path }}" />
		<button class="svg-icon-button" type="submit">
			{% include "svg/unpin.svg" %}
		</button>
                </fieldset>
            </form>
        {% else %}
            <form class="pin-comment-form"
                  method="post"
                  action="/pkgbase/{{ comment.PackageBase.Name }}/comments/{{ comment.ID }}/pin"
            >
                <fieldset style="display:inline;">
                    <input type="hidden" name="next" value="{{ request.url.path }}" />
		<button class="svg-icon-button" type="submit">
			{% include "svg/pin.svg" %}
		</button>
                </fieldset>
            </form>
        {% endif %}
    {% endif %}
{% elif request.user.has_credential(creds.COMMENT_UNDELETE, approved=[comment.User]) %}
        <form class="undelete-comment-form"
              method="post"
              action="/pkgbase/{{ comment.PackageBase.Name }}/comments/{{ comment.ID }}/undelete"
        >
            <fieldset style="display:inline;">
                <input type="hidden" name="next" value="{{ request.url.path }}" />
		<button class="svg-icon-button" type="submit">
			{% include "svg/action-undo.svg" %}
		</button>
            </fieldset>
        </form>
{% endif %}
