<head>
    {% include 'partials/meta.html' %}

    <!-- CSS -->
    <link rel="stylesheet" href="/static/media/css/style.css">

    <!-- Resources -->
    <link rel="shortcut icon" href="/static/media/images/makedeb-logo.png">

    <!-- Alternate resources -->
    <link rel="alternate" type="application/rss+xml"
          title="Newest Packages RSS" href="/rss">

    <!-- Include local typeahead -->
    <script type="text/javascript" src="/static/js/typeahead.js"></script>

    <title>MPR - {{ title | tr }}</title>
</head>
