<div id="archnavbar" class="anb-aur">
    <div id="archnavbarlogo">
        <h1>
            <a href="/" title="Return to the main page">{% trans %}makedeb Package Repository{% endtrans %}</a>
        </h1>
    </div>
    <div id="archnavbarmenu">
        <ul id="archnavbarlist">
            <li id="anb-aur"><a href="/" title="makedeb Package Repository">MPR</a></li>
            <li id="anb-security"><a href="https://makedeb.hunterwittenborn.com/" title="makedeb Docs">{% trans %}makedeb Docs{% endtrans %}</a></li>
            <li id="anb-download"><a href="https://matrix.to/#/#makedeb:hunterwittenborn.com" title="Get Support">{% trans %}Support{% endtrans %}</a></li>
        </ul>
    </div>
</div>
