<div id="archnavbar" class="anb-aur">
    <div id="archnavbarlogo">
        <h1>
            <a href="/" title="Return to the main page">makedeb Package Repository</a>
        </h1>
    </div>
    <div id="archnavbarmenu">
        <ul id="archnavbarlist">
            <li id="anb-aur"><a href="/" title="makedeb Package Repository">MPR</a></li>
            <li id="anb-security"><a href="https://makedeb.hunterwittenborn.com/" title="makedeb Docs">makedeb Docs</a></li>
            <li id="anb-download"><a href="https://matrix.to/#/#makedeb:hunterwittenborn.com" title="Get Support">Support</a></li>
        </ul>
    </div>
</div>

