<div class="field tu-section">
    <h2>{% trans %}{{ title }}{% endtrans %}</h2>

    {% if not results %}
    	<p>{% trans %}No results found.{% endtrans %}</p>

    {% else %}
        <div class="tu-navigator">
            <p>
                {% if total_votes > pp %}
                    {% if off > 0 %}
                        {% set off_qs = "%s=%d" | format(off_param, off - 10) %}
                        {% set by_qs = "%s=%s" | format(by_param, by | quote_plus) %}

                        <a class="page" href="?{{ q | extend_query([off_param, ([off -10, 0] | max)], [by_param, by]) | urlencode }}">Back</a>
                    {% endif %}

                    {% if off < total_votes - pp %}
                        {% set off_qs = "%s=%d" | format(off_param, off + 10) %}
                        {% set by_qs = "%s=%s" | format(by_param, by | quote_plus) %}
                        <a class="page" href="?{{ q | extend_query([off_param, off + pp], [by_param, by]) | urlencode }}">Next</a>
                    {% endif %}
                </p>
            {% endif %}
        </div>

        <div class="search-results">
            {% for result in results %}
                <div class="search-item">
                    <div class="item-section">
                        <p class="title">{{ "Proposal" | tr }}:</p>
                        <p class="value">
                            {% set agenda = result.Agenda[:prev_len] %}
                            <a href="/tu/{{ result.ID }}">{{ agenda }}</a>
                        </p>
                    </div>

                    <div class="item-section">
                        <p class="title">{{ "Start" | tr }}:</p>
                        <p class="value">
                            {% set submitted = result.Submitted | dt | as_timezone(timezone) %}
                            {{ submitted.strftime("%Y-%m-%d") }}
                        </p>
                    </div>

                    <div class="item-section">
                        <p class="title">{{ "End" | tr }}:</p>
                        <p class="value">
                            {% set end = result.End | dt | as_timezone(timezone) %}
                            {{ end.strftime("%Y-%m-%d") }}
                    </div>

                    <div class="item-section">
                        <p class="title">{{ "User" | tr }}:</p>
                        <p class="value">
                            {% if not result.User %}
                                N/A
                            {% else %}
                                <a href="/packages/?K={{ result.User }}&amp;SeB=m">{{ result.User }}</a>
                            {% endif %}
                        </p>
                    </div>

                    {% if title != "Current Votes" %}
                        <div class="item-section">
                            <p class="title">{{ "Yes" | tr }}:</p>
                            <p class="value">{{ result.Yes }}</p>
                        </div>

                        <div class="item-section">
                            <p class="title">{{ "No" | tr }}:</p>
                            <p class="value">{{ result.No }}</p>
                        </div>
                    {% endif %}

                    <div class="item-section">
                        <p class="title">{{ "Voted" | tr }}</p>
                        <p class="value">
                            {% set vote = (result | get_vote(request)) %}

                            {% if vote %}
                                {{ "Yes" | tr }}
                            {% else %}
                                {{ "No" | tr }}
                            {% endif %}
                        </p>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
</div>
{# vim: set ts=4 sw=4 expandtab: #}
