{% extends "partials/layout.html" %}
{% block body %}
    <div class="box">
        <h2>{{ "Manage Co-maintainers" | tr }}:</h2>

        <form action="/pkgbase/{{ pkgbase.Name }}/comaintainers" method="post">
            <fieldset>
                {% if errors %}
                    <ul class="errorlist">
                    {% for error in errors %}
                        <li><em>{{ error | tr }}</em></li>
                    {% endfor %}
                    </ul>
                {% endif %}
                <p class="overhead-comment"><em>
                    {{
                    "Use this form to add co-maintainers for %s%s%s "
                    "(one user name per line):"
                    | tr | format("<strong>", pkgbase.Name, "</strong>")
                    | safe
                    }}
                </em></p>
                <div class="item">
                    <label for="id_users"><h2>{{ "Users" | tr }}:</h2></label>
                    <textarea id="id_users" name="users"
                              rows="5" cols="50">{{ "\n".join(comaintainers) }}</textarea>
                </div>

                <div class="item">
                    <input class="button" type="submit" value="{{ "Save" | tr }}">
                </div>
            </fieldset>
        </form>
    </div>
{% endblock %}
{# vim: set ts=4 sw=4 expandtab: #}
