<!DOCTYPE html>
<html>
    {% include "partials/head.html" %}
	{% include "partials/navbar.html" %}
	{% include "partials/archdev-navbar.html" %}

    {% if error %}
        <p class="pkgoutput error">{{ error | e }}</p></p>
    {% endif %}

    <div class="box">

        <form action="/addvote" method="post">
            <fieldset>
            <p class="overhead-comment">{{ "Submit a proposal to vote on." | tr }}</p>

            <div class="item">
                <label for="id_user"><h2>{{ "Applicant/TU" | tr }}</h2></label>
                <input type="text" name="user" id="id_user" value="{{ user }}" />
                <p class="comment"><em>{{ "Leave empty if not applicable" | tr }}</em></p>
            </div>

            <div class="item">
                <label for="id_type"><h2>{{ "Type" | tr }}</h2></label>
                <select name="type" id="id_type">
                    <option value="add_tu" {% if "add_tu" == type %}selected{% endif %}>
                        {{ "Addition of a TU" | tr }}
                    </option>

                    <option value="remove_tu" {% if "remove_tu" == type %}selected{% endif %}>
                        {{ "Removal of a TU" | tr }}
                    </option>

                    <option value="remove_inactive_tu" {% if "remove_inactive_tu" == type %}selected{% endif %}>
                        {{ "Removal of a TU (undeclared inactivity)" | tr }}
                    </option>

                    <option value="bylaws" {% if "bylaws" == type %}selected{% endif %}>
                        {{ "Amendment of Bylaws" | tr }}
                    </option>
                </select>
            </div>

            <div class="item">
                <label for="id_agenda"><h2>{{ "Proposal" | tr }}</h2></label><br />
                <textarea name="agenda" id="id_agenda" rows="15" cols="80">{{ agenda | e }}</textarea>
                <br />
            </div>

            <div class="item">
                <input class="button" type="submit" value="Submit">
                </input>
            </div>
        </fieldset>
        </form>
    </div>

{# vim: set ts=4 sw=4 expandtab: #}
