<!-- Bootstrap typeahead for the homepage. -->
<script type="text/javascript" src="/static/js/typeahead-home.js"></script>

<div class="intro">
	<div class="big-intro">
		<h2>The makedeb Package Repository</h2>
		<p>The community-maintained repository for the makedeb packaging tool.</p>
		<p><a href="/packages">View available packages</a>, <a href="https://docs.makedeb.org/mpr/using-the-mpr/installing-packages/">install a package</a>, or <a href="https://docs.makedeb.org/mpr/using-the-mpr/uploading-pkgbuilds/">upload your own</a>.</p>
	</div>
	<div class="newest-packages">
		{% for item in package_updates %}
		<p>{{ item.Name }} {{ item.Version }}<hr>{{ item.Description }}</p>
		{% endfor %}
	</div>
</div>
