{% extends "partials/layout.html" %}
{% block body %}
    <div class="box">
        <h2>{% trans %}Password Reset{% endtrans %}</h2>
        <p>
            {% if step == "confirm" %}
                {% trans %}Check your e-mail for the confirmation link.{% endtrans %}
            {% elif step == "complete" %}
                {% trans %}Your password has been reset successfully.{% endtrans %}
            {% elif resetkey %}
                <!-- Provided with a resetkey. -->
                {% include "partials/error.html" %}

                <form method="post">
                    <fieldset>
                        <div class="item">
                            <h2>{% trans %}Confirm your user name or primary e-mail address:{% endtrans %}</h2>
                            <input type="text" name="user" size="30" maxlength="64" value="{{ user or '' }}">
                        </div>
                        
                        <div class="item">
                            <h2>{% trans %}Enter your new password:{% endtrans %}</h2>
                            <input type="password" name="password" size="30" value="{{ password or '' }}">
                        </div>

                        <div class="item">
                            <h2>{% trans %}Confirm your new password:{% endtrans %}</h2>
                            <input type="password" name="confirm" size="30" value="{{ confirm or '' }}">
                        </div>

                        <div class="item">
                            <input type="hidden" name="resetkey" value="{{ resetkey }}">
                            <input class="button" type="submit" value="{% trans %}Continue{% endtrans %}">
                        </div>
                </form>

            {% else %}

                <form method="post">
                    <fieldset>
                        {% include "partials/error.html" %}

                        <p class="overhead-comment"><em>
                        <!-- Default page with prompt for user name/e-mail. -->
                        {% set url = "https://matrix.to/#/#makedeb-mpr:hunterwittenborn.com" %}

                        {{ "If you have forgotten the user name and the primary e-mail "
                        "address you used to register, please send a message to the "
                        "%s#makedeb-mpr:hunterwittenborn.com%s Matrix room."
                        | tr
                        | format('<a href="%s">' | format(url),
                                 "</a>")
                        | safe }}
                        </em></p>

                    <div class="item">
                        <label><h2>{% trans %}Enter your user name or your primary e-mail address:{% endtrans %}</h2></label>
                        <input type="text" name="user" size="30" maxlength="64" value="{{ user or '' }}">
                    </div>
                    
                    <div class="item">
                        <input class="button" type="submit" value="{% trans %}Continue{% endtrans %}">
                    </div>
                </form>
            {% endif %}
        </p>
    </div>
{% endblock %}
{# vim: set sw=4 expandtab: #}
