{% extends "partials/layout.html" %}

{% block body %}
    <div class="box field">
        {% include "partials/tu/proposal/details.html" %}
    </div>
    
    {% if utcnow >= voteinfo.End %}
        <div class="box">
            {% include "partials/tu/proposal/voters.html" %}
        </div>
    {% endif %}

    <div class="box field">
        {% if error %}
            <span class="status">{{ error | tr }}</span>
        {% else %}
            {% include "partials/tu/proposal/form.html" %}
        {% endif %}
    </div>
{% endblock %}
{# vim: set ts=4 sw=4 expandtab #}
