<h2>{% trans %}Proposal Details{% endtrans %}</h2>

{% if voteinfo.is_running() %}
    <p class="vote-running comment">
        {% trans %}This vote is still running.{% endtrans %}
    </p>
{% endif %}

<!-- The margin style here mimics the margin on the old <p> element. -->
<div class="proposal details">
    <div class="item">
        <p>{{ "User" | tr }}:
            <strong>
                {% if voteinfo.User %}
                    <a href="{{ '/packages/?K=%s&SeB=m' | format(voteinfo.User)}}">
                        {{ voteinfo.User }}
                    </a>
                {% else %}
                    N/A
                {% endif %}
            </strong>
        </p>

    	{% set submitted = voteinfo.Submitted | dt | as_timezone(timezone) %}
    	{% set submitter = voteinfo.Submitter.Username %}
    	{% set submitter_uri = "/account/%s" | format(submitter) %}
    	{% set submitter = '<a href="%s">%s</a>' | format(submitter_uri, submitter) %}
    	{% set end = voteinfo.End | dt | as_timezone(timezone) %}
        
	    <p>
            {{
                "Submitted: %s by %s" | tr
                | format(submitted.strftime("%Y-%m-%d %H:%M"), submitter)
                | safe
            }}
        </p>

        <p>
            {{ "End" | tr }}:
            <strong>
                {{ end.strftime("%Y-%m-%d %H:%M") }}
            </strong>
        </p>

    	{% if not voteinfo.is_running() %}
            <p>
                {{ "Result" | tr }}:
                {% if not voteinfo.ActiveTUs %}
                    <span>{{ "unknown" | tr }}</span>
                {% elif accepted %}
                    <span style="color: green; font-weight: bold">
                        {{ "Accepted" | tr }}
                    </span>
                {% else %}
                    <span style="color: red; font-weight: bold">
                        {{ "Rejected" | tr }}
                    </span>
                {% endif %}
            </p>
        {% endif %}
    </div>
</div>

<div>
    <blockquote>
        <p class="comment">
            <!-- The `e` filter manually escapes content. -->
            {{ voteinfo.Agenda | replace("\n", "<br />\n") | safe | e }}
        </p>
    </blockquote>
</div>

<div class="vote-info">
    <h2>{% trans %}Vote info{% endtrans %}</h2>

    {% if not voteinfo.is_running() %}
        <p>{{ "Yes" | tr }}: {{ voteinfo.Yes }}</p>
        <p>{{ "No" | tr }}: {{ voteinfo.No }}</p>
        <p>{{ "Abstain" | tr }}: {{ voteinfo.Abstain }}</p>
    {% endif %}

    <p>{{ "Total" | tr }}: {{ voteinfo.total_votes() }}</p>
    <p>
        {{ "Voted" | tr }}:

        {% if not has_voted %}
            <span style="color: red; font-weight: bold">{{ "No" | tr }}</span>
        {% else %}
            <span style="color: green; font-weight: bold">{{ "Yes" | tr }}</span>
        {% endif %}
    </p>
    <p>
        {{ "Participation" | tr }}:

        {% if voteinfo.ActiveTUs %}
            {{ (participation * 100) | number_format(2) }}%
        {% else %}
            {{ "unknown" | tr }}
        {% endif %}
    </p>
</div>
{# vim: set ts=4 sw=4 expandtab: #}
