@import "variables";

.archdev-navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;

	@media (max-width: 580px) {
		flex-direction: column;
		align-items: start;
	}

	.navbar-links {
		height: 100%;
		width: 100%;
		display: flex;
		justify-content: left;
		padding: 1em 0;
		padding-left: 0.4em;

		@media (max-width: 580px) {
			justify-content: center;
		}

		a, form {
			margin: 0 0.4em;
		}
	}

	.search-box {
		font-size: 1.05em;
		width: 10em;
		border: solid;
		border-color: darken($light-grey, 10%);
		border-width: 0.15em;
		border-radius: 0.2em;
		padding: 0.2em 0.3em;
		margin-right: 0.4em;
		transition-property: outline-width;
		transition-duration: 0.2s;

		@media (max-width: 580px) {
			display: none;
		}
	}
}
