@import "variables";

$header-max-width: 550px;

header {
	height: 100%;
	background-color: $header-bg-color;
	display: grid;
	grid-template-columns: min-content 1fr;

	@media (max-width: $header-max-width) {
		grid-template-columns: 1fr;

		.makedeb-brand {
			justify-content: center;
		}
	}

	// Logo and "makedeb" text.
	.makedeb-brand {
		height: 100%;
		display: flex;
		align-self: center;
		align-items: center;
	}

	.makedeb-logo {
		height: 3em;
		width: 3em;
		padding: 0.5em;
	}

	.makedeb-logo-text, .makedeb-logo-text:visited {
		font-size: 1.75em;
		text-decoration: none;
		color: $black;
		white-space: nowrap;
	}

	// Links.
	.links {
		justify-content: end;
		align-self: center;
		align-items: center;
		display: flex;
		flex-direction: row;
		padding-right: 0.75em;
		flex-wrap: wrap;

		p, a {
			font-size: 1.15em;
			margin: 0.3em 0.75em;
			display: inline;
			line-height: 1em; // We have a global line height default of 1.6em. We set it to 1em here so it aligns with the line height on the makedeb homepage.
			white-space: nowrap;
		}
		
		p {
			color: $black;
			cursor: default;
		}

		a {
			color: $inactive-link;
			transition-property: color;
			transition-duration: 0.2s;
		}

		a:hover {
			color: $orange;
		}

		@media (max-width: $header-max-width) {
			width: 100%;
			padding: 0.4em 0 0.8em;
			justify-content: center;
		}
	}
}

.header-hr {
	width: 100%;
	margin: 0;
	border: 0;
	color: $header-hg-color;
	background-color: $header-hg-color;
	height: 0.25em;
}
