// Our CSS.
@import "variables";
@import "header";
@import "footer";
@import "archdev-navbar";
@import "homepage";
@import "profile";

// External CSS.
@import url('https://meyerweb.com/eric/tools/css/reset/reset.css');

// Fonts.
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

// Main CSS, shared across entire website.
body {
	font-family: "Ubuntu", sans-serif;
}

a, a:visited {
	color: $orange;
	text-decoration: none;
	transition-property: color;
	transition-duration: 0.2s;
}

a:hover {
	color: $orange-hover;
}

h2 {
	font-size: 1.8em;
}

hr {
	background-color: $light-grey;
	height: 0.1em;
	border: none;
}

// Makes the footer appear (at minimum) at the bottom of the viewport).
body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

footer {
	margin-top: auto;
}

// Default styling for boxes.
.box {
	background-color: lighten($silver, 1%);
	margin: 0 2em;
	margin-bottom: 2em;
	padding: 1em;
	border-radius: 0.15em;
}
