// Used on '/account/{username}'.
@import "variables";

$profile-mobile-width: 470px;
$header-color: darken($light-grey, 30%);

// '/account/{username}/'.
.arch-bio-entry {
	.item {
		display: flex;

		@media (max-width: $profile-mobile-width) {
			flex-direction: column;
			padding-bottom: 0.5em;
		}

		.caption {
			text-align: right;
			width: 11em;
			color: $header-color;
			padding-right: 0.5em;

			@media (max-width: $profile-mobile-width) {
				width: auto;
				text-align: left;
			}
		}

		.caption, .data {
			line-height: 1.6em;
		}
	}
}

// '/register' and '/acount/{username}/edit'.
#edit-profile-form {
	fieldset {
		padding-top: 1em;
		// For some reason this fixes some overflow issues on small viewports.
		min-width: auto;

		.item {
			padding-bottom: 0.8rem;
			
			h2 {
				padding: 0;
			}
			
			label {
				pointer-events: none;
			}

			select, .button {
				display: block;
				background-color: lighten($light-grey, 8%);

				&:hover, &:focus {
					background-color: lighten($light-grey, 6%);
				}
			}

			input:not(.checkbox), select, textarea {
				width: 100%;
				font-size: 1.2em;
				border-radius: 0.2rem;
				border-color: $light-grey;
				border-style: solid;
				margin-top: 0.5em;
				padding: 0.2em;
				box-sizing: border-box;
			}

			textarea {
				resize: none;
			}
		}

		.comment, .overhead-comment {
			color: darken($light-grey, 30%);
		}

		.comment {
			padding-top: 0.2em;
		}

		.overhead-comment {
			padding-bottom: 0.6em;
		}
	}
}
