// Colors.
$white: #ffffff;
$black: #000000;
$dark-grey: #262626;
$light-grey: #d4d4d4;
$orange: #ed743b;
$orange-hover: #d95618;
$light-orange: #ed7c47;
$silver: #eeeeee;
$archlinux-blue: #0796DE;

$inactive-link: #919090;
$header-bg-color: #f2f2f2;
$header-hg-color: #e6e5e3;
