 <!DOCTYPE html>
<html>
    {% include "partials/head.html" %}
	{% include "partials/navbar.html" %}
	{% include "partials/archdev-navbar.html" %}
    
    <div class="box">
        <form action="/pkgbase/{{ comment.PackageBase.Name }}/comments/{{ comment.ID }}"
              method="post">
            <div class="item">
                <h2>{{ "Edit comment for: %s" | tr | format(comment.PackageBase.Name) }}</h2>
            </div>

            <fieldset>
                <div>
                    <input type="hidden" name="next" value="{{ next }}" />
                </div>

                <p class="overhead-comment"><em>
                    {{
                        "Git commit identifiers referencing commits in "
                        "the MPR package repository and URLs are converted "
                        "to links automatically." | tr
                    }}
                    {{
                        "%sMarkdown syntax%s is partiaully supported."
                        | tr | format(
                            '<a href="https://daringfireball.net/projects/markdown/syntax">',
                            "</a>"
                        ) | safe
                    }}
                </em></p>

                <div class="item">
                    <textarea id="id_comment" name="comment" cols="80" rows="10">{{ comment.Comments }}</textarea>
                </div>

                <div class="item">
                    <input type="submit" value="{{ 'Save' | tr }}" />
                </div>

            </fieldset>
        </form>

    </div>
</html>
{# vim: set ts=4 sw=4 expandtab: #}
