name: unit-tests
on: {"pull_request"}
env:
  AUR_CONFIG: "conf/config"
  DB_HOST: "localhost"
  TEST_RECURSION_LIMIT: "10000"
jobs:
  unit-tests:
    runs-on: ubuntu-latest
    container:
      image: archlinux:base-devel
    steps:
      - name: Checkout Git repository
        uses: actions/checkout@v6
        with:
          path: mprweb

      - name: Run unit tests
        run: |
          mv mprweb/ /aurweb
          cd /aurweb
          cp /aurweb/mprweb.cfg /mprweb.cfg
          .drone/scripts/install-deps.sh
          .drone/scripts/run-tests.sh

# vim: expandtab ts=2 sw=2
